<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>20/06/15 19:11:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Validation.beforeClass()[pri:0, instance:Validation@7f9a81e8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>20/06/15 19:11:36</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Validation.InvalidMoves()[pri:0, instance:Validation@7f9a81e8]">InvalidMoves</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>20/06/15 19:11:42</td>   <td>5394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Validation.ValidMoves()[pri:0, instance:Validation@7f9a81e8]">ValidMoves</td> 
  <td>main@32017212</td>   <td></td> </tr>
</table>
